# Deep learning & Transformers
torch
transformers
sentencepiece
tokenizers

# Data handling
pandas
numpy
datasets

# ML utilities
scikit-learn
iterative-stratification  # pour MultilabelStratifiedShuffleSplit

# Export & inference
onnx
onnxruntime

# Logging & utils
tqdm
